<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.web.chat.mapper.chatRoomMapper">
	
	<insert id="makeChatRoom" parameterType="com.web.chat.domain.ChatRoom" useGeneratedKeys="true" keyProperty="roomId">
		INSERT INTO chatroom (title) 
		VALUES (#{title})
	</insert>
	
	<insert id="joinUser" parameterType="com.web.chat.domain.UserHistory">
		INSERT INTO chatroom_history (nickName, room_id) 
		VALUES (#{nickName}, #{roomId})
	</insert>
	
	<select id="getListAll" resultType="com.web.chat.domain.ChatRoom">
		SELECT room_id roomId, title
		FROM chatroom
	</select>
	
</mapper>